<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ page.subtitle }}</title>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}">
    <meta name="title" content="{% if page.title %}{{ page.title }} | INTERSECT 2025{% else %}{{ site.title }}{% endif %}">
    <meta name="image" content="{{ page.og_image | default: site.default_image }}">
    <meta name="keywords" content="{{ page.keywords | default: page.title | append: ', stanford, sustainability, konferensi, Indonesia, INTERSECT, INTERSECT 2025' }}">
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | INTERSECT 2025{% else %}{{ site.title }}{% endif %}">    
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ page.og_image | default: 'https://intersect.id/assets/img/INTERSECT25_CoverLight.jpg' }}">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | INTERSECT 2025{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ page.og_image | default: 'https://intersect.id/assets/img/INTERSECT25_CoverLight.jpg' }}">
    
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/home.css">


    <!-- Override the default grid template columns -->
    <style>
        body {
            grid-template-columns: none !important;
        }
        {% if page.hidebreadcrumbs %}
        .breadcrumbs {
            display: none !important;
        }
        {% endif %}
    </style>
</head>
<body>
    {% include header.html %}

    <main id="main-content" class="main-content" role="main" tabindex="-1">
        <div class="table-wrapper">
            {{ content | replace: '<table>', '<table class="table-schedule">' | 
            replace: '<td style="text-align: left">', '<td style="text-align: left" data-label="Assignment">' |
            replace: '<td style="text-align: center">', '<td style="text-align: center" data-label="Weight">' |
            replace: '<td style="text-align: center">', '<td style="text-align: center" data-label="Cumulative">' }}
        </div>
    </main>
    <div class="footer-decoration"></div>
    {% include footer.html %}
</body>
</html> 